.content {
    width: 100%;
}

.content-page{
    min-height: 80vh;
}

.pagination {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    outline: none;
}

.pagination>li>a {
    background-color: #444;
    cursor: pointer;
    color: #ddd;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination li.active>a {
    background-color: #1fd86c;
    color: #555;
}

.pagination li:first-child>a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child>a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}